html{
    scroll-behavior: smooth;
}
.btn_back{
    display: flex;
    justify-content: center;
    a{
        // display: block;
        width: 150px;
        // backgrond-color: darkgoldenrod;
        // font-size: 25px;
        // text-align: center;
    }
}

.header{
    position: absolute;
    width: 100%;
    z-index: 50;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-left: 10px;
    background-color: transparent;
    .logo{
        a{
            img{
                width: 80px;
            }
        }
    }
    ul{
        display: flex;
        align-items: center;
        li{
            width: 80px;
            height: 30px;
            text-align: center;
            a{
                display:block;
                padding-top: 10px;
                padding-bottom: 10px;
                text-decoration: none;
                color: #fff;
                font-size: 13px;

            }
            a:hover{
                color: $color_y;
                text-decoration: underline;
                text-underline-offset: 8px;
            }
            

        }
    }
}

// /* 網頁捲軸【寬度】 */
// ::-webkit-scrollbar {
//     width: 10px;
//   }
  
//   /* 網頁捲軸【背景】顏色 */
//   ::-webkit-scrollbar-track {
//     background: #F1F3F4;
//   }
  
//   /* 網頁捲軸【把手】顏色 */
//   ::-webkit-scrollbar-thumb {
//     background: $main_color;
//     border-radius: 150px;
//   }
  
//   /* 網頁捲軸【滑過時】把手的顏色 */
//   ::-webkit-scrollbar-thumb:hover {
//     background: $color_y;
//   }

::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(45deg,
	                                          #000 20%,
											  #ffb700 20%,
											  #ffb700 40%,
											  #000  40%,
											  #000  60%,
											  #ffb700 60%,
											  #ffb700 80%,
                                              #000  80%,
											  #000 );
    -webkit-box-shadow: inset 0 0 6px rgba(#000,.8);
                                            
}


.reveal.reveal_l{
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: all 2s ease;
  }

.reveal.reveal_r{
    position: relative;
    transform: translateX(50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.reveal_b{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}


  
.reveal.active{
    transform: translateX(0px);
    transform: translateY(0px);
    opacity: 1;
}