#main {
    body {
        height: 100vh;

    }

    .box {
        display: flex;
        align-content: stretch;
        justify-content: space-around;
        background-color: $color_b;

        img {
            width: 100%;
        }

        .item {
            // margin-left: 2px;
            // margin-right: 2px;

            width: 20%;
            transition: transform 0.3s ease;
            background-image: url('/prayTiger/img/main/menu_bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: rgba(0, 0, 0, .4);
            background-blend-mode: multiply;

            a {
                display: block;
                height: 100vh;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    writing-mode: vertical-lr;
                    font-family: 'Yuji Syuku', serif;
                    font-size: 40px;
                    letter-spacing: 5px;
                    color: $color_y;
                    // -webkit-text-stroke: 1px #000;
                    text-shadow: 1.5px 1.5px #333;
                    position: absolute;
                    z-index: 5;
                    //opacity: 0;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%); //置中
                    transition: 0.5s;
                }

                // span:hover{
                //     color: $color_y;
                // }
            }
            .ani{
                width: 85%;
            }
        }

        .item:hover {
            transform: scale(1.05);
            
            a {
                span {
                    color: #fff;
                    -webkit-text-stroke: 0px #000;

                    //opacity: 1;
                }
            }
        }
        .menu:hover{
            background-color: rgba(#fff, .4);
            background-blend-mode: multiply;
        }
        .logo{
            img{
                width: 90%;
            }
        }
    }
    
    
}