#page3_2{
    background-color: $color_b;


    .content{
        
        margin: auto;
        margin-top: 60px;
        width: 60%;
        
        #test{
            border: 1px white solid;
        }

        

    }
}