#page3_1{
    background-color: $color_b;


    .content{
        //margin-top: 60px;
        section{
            height: 100vh;
            display: flex;
                justify-content: center;
            //align-items: center;
            margin-top: 60px;
            .box{
                width: 80%;
                display: flex;
                // flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .btn{
                        width: 8%;
                        margin-top: -60px;
                    }
                .ani{
                    position:relative;
                    margin-top: -5%;
                    width: 80%;
                    height: 80vh;
                        
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    // justify-content: center;
                    #tudi_bg{
                        width: 100%;
                        position: absolute;
                            
                        z-index: -1;
                        cursor: pointer;
                    }
                }
                .btn_back{
                    position: absolute;
                    bottom: -50px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    
                }
            }
        }

        

    }
}