#page1{
    background-color: $color_b;


.sub_menu{
    z-index: 100;
    position: fixed;
    right: 20px;
    top: 50%;
    a{
        display: block;
        border: 2px $main_color solid;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin: 5px;
    }
    a:hover{
        background-color: transparent;
        background-color: $main_color;
        
    }
}

.header{
    background-color: $color_b;
}

.content{
    //margin-top: 60px;
    h1{
        font-family: 'Yuji Syuku', serif;
        font-size: 50px;
        
    }
    h2{
        font-family: 'Yuji Syuku', serif;
        font-size: 36px;
    }
    p{
        font-size: 20px;
        font-weight: bold;
    }
    

    .p1_s0{
        width: 85%;
        margin: 0 auto;
        padding: 20px 20px;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .p1_s0_div{
        
        /* 定義動畫關鍵幀 */
        @keyframes slideIn {
            from {
            transform: translate(-100%,-50%);
            }
            to {
            transform: translate(0,0);
            }
        }
        
        

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        img{
            animation: slideIn 1.5s ease-in-out; 
            width: 100%;
           }

        .img{
            width: 50%;
            
        }
        .text{
            width: 30%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            animation: fadeInRight 1s ease-in-out;
            
            h1{
                color: $color_y;  
                text-align: center;
            }
            p{
                color: #fff;
                font-family: 'Noto Sans TC', sans-serif;
            }
        }
    }

    .p1_s1{
        width: 85%;
        margin: 0 auto;
        padding: 20px 20px;
        height: 100vh;
        display: flex;
        align-items: center;
        .p1_s1_div{
        
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .text{
                width: 60%;
                padding: 20px;
                h2{
                    color: $color_b;
                }
                p{
                    padding-top: 20px;
                }
            }
            .img{
                margin-right: 5%;
                width: 30%;
                img{
                    width: 100%;
                }
            }
        }
    }
    

    .p1_s2{
        width: 85%;
        margin: 0 auto;
        padding: 20px 20px;
        height: 100vh;
        display: flex;
        align-items: center;
        .text{
            text-align: center;
            h2{
                color: $color_y;
            }
            p{
                padding-top: 20px;
                color: #fff;
                font-weight: 500;
            }
        }

    }

    .p1_s3{
        width: 85%;
        margin: 0 auto;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        img{
            width: 100%;
        }
        h2{
            text-align: center;
            color: $main_color;
        }
        p{
            padding: 20px 0;
            margin: 0;
            text-align: center;
            color: #fff;
            font-weight: 500;
        }
        .box{
            display: flex;
            align-items: center;
            p{
                width: 60%;
                margin: 0 25px;
                span{
                    color: $color_y;
                }
            }
            .img{
                width: 30%;
                background: radial-gradient(circle closest-side at center, #9d906a 10%, $color_b);
            }
            margin-bottom: 20px;
        }
        
        
        
    }

    .p1_s4{
        width: 85%;
        margin: 0 auto;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        img{
            width: 100%;
        }
        h2{
            color: $color_b;
            margin-bottom: 20px;
            margin-left: 15px;
        }
        .box{
            margin: 10px;
            padding: 20px 50px;
            background-color: rgba(255, 255, 255, 0.7) ;
            border-radius:10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            /* 漸變 */
            transition-property: all;
            transition-duration: .6s;
            transition-timing-function: ease;
            .text{
                width: 75%;
                h3{
                    font-family: 'Yuji Syuku', serif;
                    margin-top: 10px;
                    color: $color_g;
                }
                p{
                    margin: 0;
                    padding-bottom: 10px;
                    font-weight: 700;
                }
            }
            .img{
                width: 20%;
            }
            img{
                transition: transform 0.3s ease;
            }
            img:hover{
                transform: scale(1.2);
            }
            

        }
        
    }



}


}